header, #en-tete, #sur-mesure, #digital-marketing
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-image: linear-gradient(to right, whitesmoke , #FE9C00);
}

#en-tete
{
  background: url(./images/header_picture.jpg) no-repeat right center;
  height: 100vh;
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb
{
  background-color: #FE9C00;
  outline: none;
}

::-webkit-scrollbar-track
{
  background-color: #ccc;
}

.header-h1, .header-h2
{
  color: #FFF;
  position: absolute;
  top: 20%;
  left: 8%;
  font-weight: 400;
  margin: 30px 0 60px;
}

.header-h2
{
  top: 25%;
}

@media (max-width: 554px) {
  header h2
{
  top: 30%;
}

}

#sur-mesure, #digital-marketing
{
  background: url(./images/laptop_programming.jpg) no-repeat center;
  height: 80vh;
  margin-bottom: 10px;
}

#digital-marketing
{
  background: url(./images/digital_marketing.jpg) no-repeat center;
  margin-bottom: 10px;
}

#nous-joindre
{
  background-color: #00a9b4;
  padding: 5% 0;
  margin: 0 0 10px 0;
}

#sur-mesure .content
{
  width: 85%;
  padding: 3% 0 0 12%;
  color: white;
}

#sur-mesure .content p{
  width: 60%;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
}

#nous-joindre .content
{
  text-align: center;
}

h2, h1
{
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

ul
{
  margin: 1em 0;
  padding: 0 0 0 40px;
  font-size: 18px;
  line-height: 25px;
}

h2 span:nth-child(1)
{
  color: #FE9C00;
}


h2 span:nth-child(3)
{
  color: whitesmoke;
}

h2 span
{
  font-size: 50px;
}


h1, h2, ul
{
  overflow-wrap: break-word;
}

a
{
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: all .5s ease;
}

a:hover
{
  color: #FE9C00;
}

nav
{
  display: block;
  margin: 30% 7% 0 0;
  padding: 0 0 7% 0;
}

nav a
{
  color: #FFF;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 45px;
}

.bar1, .bar2
{
  width: 26px;
  margin-left: 10px;
}

.bar1, .bar2, .bar3
{
  width: 35px;
  height: 1px;
  background-color: #FFF;
  margin: 18px 0 -7px 13px;
  transition: 0.7s;
  display: block;
}

.change .bar1
{
  -webkit-transform: rotate(-45deg) translate(-11px,-2px);
  transform: rotate(-45deg) translate(-11px,-2px);
  width: 35px;
  margin: 22px 0px -16px 22px;
}

.change .bar2
{
  opacity: 0;
  margin: 22px 0px -16px 22px;
}

.change .bar3
{
  -webkit-transform: rotate(45deg) translate(-11px,1px);
  transform: rotate(45deg) translate(-11px,1px);
  width: 35px;
  margin: 22px 0px -16px 22px;
}


nav ul
{
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  color: #FFF;
}

.menu-sidebar.active
{
  right: 0;
  display: block;
}

.menu-sidebar
{
  display: none;
  background: #000;
  height: 115vh;
  width: 30%;
  position: fixed;
  top: 0;
  right: 0%;
  text-align: right;
  transform: all .5s ease;
  z-index: 9998;
}

.hamburger.change
{
  position: fixed;
}

.hamburger
{
  background-color: #00a9b4;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: block;
  width: 60px;
  height: 60px;
    position: absolute;
  right: 1%;
  top: 0.5%;
  z-index: 9999;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .menu-sidebar
  {
    width: 50%;
  }
  .hamburger
  {
    right: 5%;
  }
}

@media only screen and (max-width: 768px) {
  .menu-sidebar
  {
    width: 100%;
  }

  [class*="col"]
  {
    width: 100% !important;
  }
  .hamburger
  {
    right: 1%;
    position: absolute;
  }
  .header-h2
  {
    top: 30%;
  }
  #sur-mesure .content
  {
    width: auto;
    padding: 1% 3% 0 12%;
  }
  #sur-mesure .content p
  {
    width: auto;
  }
}

hr
{
  background: #FFF;
  height: 1px;
  border: 0;
  width: 40%;
  margin: 0 0 5% 53%;
}

#menu-menu-principal a, .menu-sidebar a
{
  color: #FFF;
}

.menu-sidebar a:hover.email, #menu-menu-principal a:hover
{
  color: #FE9C00;
}

.menu-sidebar a.email
{
  font-size: 25px;
  color: #FFF;
  display: block;
  margin-right: 7%;
}

footer
{
  background-image: linear-gradient(to right, #FE9C00 , whitesmoke);
  color: #333;
  text-align: center;
  padding: 2% 0;

}

footer a:hover
{
  color: #FFF;
}

.container
{
  clear: both;
  margin: 0 auto;
  max-width: 1100px;
  position: relative;
  padding: 0 20px 20px;
  min-height: 65vh;
}

.container h1
{
  text-align: center;
  color: #FE9C00;
  font-weight: 400;
  margin: 30px 0 60px;
  font-size: 60px;
}

.container h2
{
  font-size: 27px;
  font-weight: 400;
  text-transform: uppercase;
}

.col6
{
  width: 48%;
  float: left;
}

.col6.last
{
  margin: 0;
}

.form, .label
{
  display: flex;
  flex-direction: column;
}

.label
{
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.input
{
  margin-bottom: 15px;
}

input
{
  height: 20px;
}

textarea
{
  height: 100px;
}

input, textarea
{
  text-indent: 2.5px;
  border: 1px solid #444;
  border-radius: 5px;
}

.submit
{
  height: 30px;
  width: 80px;
  padding: 5px;
  cursor: pointer;
  background-color: navajowhite;
  font-size: 16px;
}

.clear
{
  clear: both;
}

.error
{
  color: red;
}

.devise
{
  color: #FE9C00;
  font-size: 30px;
}

.content-services
{
  display: flex;
  flex-direction: row;
}

.col5, .col5-last
{
  float: left;
  width: 50%;
}

.col5
{
  margin: 0 3% 0 0;
}

.col5.last
{
  margin: 0;
}

.container a
{
  color: #00a9b4;
}

.container a:hover
{
  color: #FE9C00;
}

.messageEmail
{
  padding: 5px;
  font-size: 20px;
  font-weight: 400;
  color: #FE9C00;
  text-align: center;
}

/* Début CSS pour paiement stripe */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

:root {
  --light-grey: #F6F9FC;
  --dark-terminal-color: #0A2540;
  --accent-color: #635BFF;
  --radius: 3px;
}

/*body {
  padding: 20px;
  font-family: 'Raleway';
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  color: var(--dark-terminal-color);
}*/

main {
  width: 480px;
}

form > * {
  margin: 10px 0;
}

button {
  background-color: var(--accent-color);
}

button {
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}
button:hover {
  filter: contrast(115%);
}
button:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
button:disabled {
  opacity: 0.5;
  cursor: none;
}

input, select {
  display: block;
  font-size: 1.1em;
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: block;
}

/*a {
  color: var(--accent-color);
  font-weight: 900;
}*/

small {
  font-size: .6em;
}

fieldset, input, select {
  border: 1px solid #efefef;
}

#payment-form {
  border: #F6F9FC solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  display: none; /* hide initially, then show once the first message arrives */
  background-color: #0A253C;
  color: #00D924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size:0.7em;
}
/* Fin CSS pour paiement stripe*/

